@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply bg-gray-50 dark:bg-slate-900 text-slate-900 dark:text-slate-50 antialiased;
}

input,
textarea,
select {
  @apply bg-white dark:bg-slate-800;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400 dark:bg-slate-700 rounded-full;
}
